/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.resizeable-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.top,
.bottom {
    display: grid;
    align-items: center;
}

.bottom {
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.resize {
    background: #444857;
    height: 25px;
    width: 100%;
    cursor: row-resize;
    flex-shrink: 0;
    position: relative;
    z-index: 10;
    user-select: none;
}

.resize::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 6px;
    top: 13px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.svg svg {
    fill: #fff;
}

.chat-frame {
    height: 10000px;
    width: 100%;
    border: none;
}

.chat-scroll-container {
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
    flex-shrink: 0;
}

.notifications > div > div {
    opacity: 0.5;
    overflow-anchor: none;
    transition: all 1s ease;
}

.notifications > div > div:last-of-type {
    opacity: 1;
}

.notification-enter-active,
.notificationlist-leave-active {
  transition: all 0.5s ease;
}
.notification-enter-from,
.notification-leave-to {
  opacity: 0;
  transform: translateX(-60px);
}

.scroll-to-bottom-button {
    position: relative;
    text-align: center;
    overflow: visible;
    width: 80px;
    bottom: 60px;
}

.scroll-to-bottom-button svg {
    display: inline-block;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: all 0.5s ease;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    opacity: 0;
    transform: translateY(20px);
}

.notify-pill-nobg {
    @apply mr-2 rounded-full px-2 py-1 text-white font-bold text-center leading-none;
}

.notify-pill {
    @apply notify-pill-nobg bg-gray-950;
}

.notify-time {
    @apply text-gray-400 font-bold text-center leading-none;
    margin-left: auto;
}

.mobile.landscape {
    .resizeable-container {
        flex-direction: row;
    }

    .resize {
        height: 100%;
        width: 25px;
    }

    .resize::before {
        top: 50%;
        left: 2px;
        rotate: 90deg;
    }
}